@import "tailwindcss";

body {
  font-family: var(--font-vilane), sans-serif;
}

.purple-button{
  background-color: #595675;
}

.purple-main{
  background-color: #A5A1C4;
}

@keyframes slotSpin {
  0% {
    transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }

  40% {
    transform: translateY(-150%) rotateX(90deg);
    opacity: 0;
  }

  60% {
    transform: translateY(150%) rotateX(-90deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }
}

.slot-animate {
  animation: slotSpin 0.6s ease-in-out;
  transform-origin: center;
  display: inline-block;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}


@keyframes arrow-slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-arrow {
  animation: arrow-slide 1.2s ease-in-out infinite;
}
